
<div id="signIn">
  <div id="login">

    <%= image_tag('logo.png') %>

    <h1>Harbour</h1>

    <h2>Sign in to your account</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.email_field :email, class:"button", autofocus: true, placeholder: "  Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, class:"button", autocomplete: "off", placeholder: "  Password" %>
    </div>

    <div class="actions">
      <%= f.submit "", :type => :image, :src => image_path("harbour_button.png"), :id => "submit_button" %>
    </div>
<% end %>

</div>


