<%= render partial: 'layouts/navbar' %>

<div class="container">
	<div id="dash-header" class="row">
		<h2><%= @user %></h2>

		<div class="row">
			<%= image_tag('history_icon.png', :id => "history") %>
			<%= image_tag('dashboard_face0.png', :id => "dashboard-face") %>
			<%= image_tag('streak_icon.png', :id => "streak") %>
		</div>
	</div>
	<div class="row dash-row">
		<div id="steps">
			<%= image_tag('steps_icon.png') %>
			<h4>9000 / 10000<br/>Steps</h4>
		</div>
		<div id="sleep">
			<%= image_tag('sleep_complete_icon.png') %>
			<h4>7.3 / 7 hours<br/>Sleep</h4>
		</div>
	</div>
	<div class="row dash-row-lower">
		<div id="meditation">
			<%= image_tag('meditation_complete_icon.png') %>
			<h4>10 / 10 mins<br/>Meditation</h4>
		</div>
		<div id="recreation">
			<%= image_tag('recreation_icon.png') %>
			<h4>0 / 30 mins<br/>Recreation</h4>
		</div>
	</div>
</div>

